#main{
    position: absolute;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #left-side-box{
    background-color: white;
    border: 1px red dotted;
    border-radius: 10px;
    width:200px;
    height:500px;
    box-shadow: 0px 0px 4px 0px gray;
    margin-right: 10px;
  }
  #right-side-box{overflow:hidden;
    margin-left: 10px;
    background-color: white;
    border-radius: 10px;
    width:600px;
    height:500px;
    box-shadow: 0px 0px 4px 0px gray;
  }